@mixin d_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
//defining screen breakpoints for responsivness
$x-small: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(161, 160, 160, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgba(23, 22, 22, 0.44);
  }
}
.searchbar-container {
  margin-top: 15px;
  margin-left: 15px;
  display: inline-flex;
  gap: 20px;
  flex-direction: column;
  @media screen and (min-width: $medium) and (max-width: $x-large) {
    flex-direction: row;
  }
}

.editor-pick-movies-list-container {
  //   border: 1px solid red;
  padding: 20px 0;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 90%;
  overflow-x: scroll;
  @include scrollBar;
  .list-of-movies {
    display: flex;
  }
  span.intro {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid lightgray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: $x-large) and (max-width: $xx-large) {
    // display: grid;
    // grid-template-columns: 20% 80%;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  height: 600px;
  margin-top: 100px;
}

.movie-card-container {
  margin-bottom: 20px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .movie-card-inner {
    .movie-card-genres {
    }
    .movie-card-infos {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      padding: 15px;
      .movie-card-infos-title {
        font-family: "Karla";
      }
      .movie-card-infos-date {
        font-family: "Karla";
        color: grey;
      }
      .movie-card-infos-vote-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .movie-card-infos-vote-text {
          font-family: "Karla";
        }
        .movie-card-infos-vote-img {
          width: 25px;
          height: 25px;
        }
      }
      .movie-card-btns {
        display: flex;
        justify-self: center;
        // align-items: center;
        flex-direction: column;
        align-self: center;
        gap: 15px;
        // border: 1px solid;
        align-items: center;
        .movie-card-add-btn {
          color: gray;
        }
        .movie-card-infos-btn {
          color: blue;
        }
      }
      .movie-card-infos-img {
        width: 300px;
        height: 300px;
      }
    }
  }
  .movie-card-stars-and-director-wrapper {
    .movie-card-director {
      @include d_flex();
      gap: 15px;
      span.text {
        font-family: Karla;
        font-size: 25px;
        font-style: italic;
        white-space: nowrap;
      }
    }
    .movie-card-director-highlighted-text {
      font-family: Roboto;
      font-size: 27px;
      font-style: italic;
      .photo-icon {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        cursor: pointer;
      }
    }

    .movie-card-stars {
      @include d_flex();
      gap: 15px;
      span.text {
        font-family: Karla;
        font-size: 25px;
        font-style: italic;
      }
      .movie-card-stars-highlighted-text {
        margin-top: 15px;
        @include d_flex();
        flex-direction: column;
        gap: 15px;
        span {
          font-family: Mulish;
          font-size: 20px;
          letter-spacing: 1.2px;
          font-style: italic;
        }
      }
    }
  }

  &.latest-movie-card-container {
    .movie-card-infos {
      .movie-card-infos-title {
        font-family: "Roboto";
        font-size: larger;
      }
      .movie-card-infos-date {
        font-family: "Roboto";
        font-size: larger;
        color: grey;
      }
      .movie-card-infos-vote-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .movie-card-infos-vote-text {
          font-family: "Karla";
          font-size: larger;
        }
        .movie-card-infos-vote-img {
          width: 25px;
          height: 25px;
        }
      }
      .movie-card-btns {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-self: center;
        gap: 15px;
        align-items: center;
        .movie-card-add-btn {
          color: gray;
        }
        .movie-card-infos-btn {
          color: blue;
        }
      }
      .movie-card-infos-img {
        width: 200px;
        height: 200px;
      }
    }
  }
  &.filtered-card {
    display: inline-block;
    .movie-card-infos {
      max-width: 330px;
      .movie-card-infos-title {
        font-size: 25px;
      }
      .movie-card-infos-vote-text {
        text-decoration: underline;
      }
    }
  }

  @media screen and (min-width: $x-large) and (max-width: $xx-large) {
    .movie-card-inner {
      .movie-card-infos {
        .movie-card-infos-img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  @media screen and (min-width: $medium) and (max-width: $x-large) {
    .movie-card-inner {
      .movie-card-infos {
        .movie-card-infos-img {
          width: 160px;
          height: 160px;
        }
      }
    }
  }
}

.latest-movies-list-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  .latest-movies-list-and-text {
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    .latest-movies-list {
      overflow-y: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 100%;
      padding: 20px 0;
    }
    span.intro {
      font-size: 40px;
      text-align: center;
      border-bottom: 1px solid lightgray;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
  }
  .latest-movies-list-pagination-wrapper {
  }
}

.movie-reviews-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .movie-reviews-review1 {
    .movie-reviews-r1-auth {
      font-size: 20px;
      letter-spacing: 1.5px;
      margin: 15px;
    }
    .movie-reviews-r1-cont-wrapper {
      .movie-reviews-r1-cont {
        line-height: 1.8em;
        font-family: "Roboto";
        margin: 15px;
      }
    }
  }
  .movie-reviews-review2 {
    img {
      width: 30px;
      height: 30px;
    }
    .movie-reviews-r2-auth {
      font-size: 20px;
      letter-spacing: 1.5px;
      margin: 15px;
    }
    .movie-reviews-r2-cont {
      line-height: 1.8em;
      margin: 15px;

      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .movie-reviews-review1,
  .movie-reviews-review2 {
    display: flex;
    flex-direction: column;
    .reviews-btn {
      justify-self: flex-end;
      align-self: flex-end;
      &:hover {
        border: none;
        img {
          width: 40px;
          height: 30px;
          transition: 0.6s ease;
        }
      }
      img {
        width: 30px;
        height: 20px;
        position: relative;
        // top: 5px;
      }
    }
    .movie-reviews-r1-cont-wrapper,
    .movie-reviews-r2-cont-wrapper {
      max-height: 300px;
      @include scrollBar;
      padding: 5px 20px;
    }
  }
}

.movie-images-container {
  width: 720px;
  // border: 1px solid;
  height: 380px;
  padding: 0 8px;
  border: 1px solid lightgray;
  .movie-images-carousel-btns {
    @include d_flex;
    margin: 5px 0;
    .btn-prev {
      height: fit-content;
      border: none;
      &:hover {
        transform: scale(1.2);
      }
      &:active,
      &:focus {
        box-shadow: none !important;
        background: none !important;
        border-color: white !important;
        box-shadow: none !important;
        outline: white !important;
        // display: none;
      }
      img {
      }
    }
    .btn-next {
      height: fit-content;
      border: none;
      &:hover {
        transform: scale(1.2);
      }
      &:active,
      &:focus {
        border: none !important;
      }
      img {
      }
    }
    .reset-btn {
      height: fit-content;
      border: none;
      &:hover {
        transform: scale(1.2);
      }
      &:active,
      &:focus {
        border: none !important;
      }
      img {
        // display: none;
      }
    }
  }
  .slick-dots {
    li {
      button {
        width: 5px;
        height: 5px;
        &::after {
          // height: 11px !important;
        }
      }
    }
  }
}

.movie-trailer-container {
  width: 720px;
  border: 1px solid lightgray;
  // border-radius: 10px;
  padding: 0 8px;
  @include d_flex();
  height: 380px;
  & > * {
    width: 100% !important;
  }
}

img.carousel-image {
  // display: none !important;
  width: 720px;
  // border: 1px solid;
  height: 310px;
  object-fit: fill;
}
.slick-slider {
  &.slick-vertical {
  }
  &.slick-initialized {
  }
}

.filtered-movies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  &.more-than-one-result {
    // display: none;
    justify-content: flex-start;
  }
  &.filtered-movies-container-null {
    // display: flex;
    @include d_flex();
    .no_result_found {
      @include d_flex();
      // border: 1px solid;
      img {
        width: 250px;
        height: 250px;
      }
      span {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 30px;
      }
    }
  }
}
